{% extends 'base.html' %} {% block content %} 
{% if user.is_authenticated %}
<p>You are signed in as {{user.email}}</p>

<h1>hello there</h1>

{% else %}
<!-- here we'll inject google authentication -->
 {% load socialaccount %}
 <h2>Google Login </h2>
 <a href="{% provider_login_url 'google' %}"?next="">Login with Google</a>
<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
      <div class="mb-3">
        <!-- <label for="exampleInputEmail1" class="form-label">Email address</label>-->
        <input
          type="text"
          class="form-control"
          name="username" ,
          placeholder="Username"
          required
        />
      </div>
      <div class="mb-3">
        <!--<label for="exampleInputPassword1" class="form-label">Password</label>-->
        <input
          type="password"
          class="form-control"
          name="password" , placeholder="Password"
          required
        />
      </div>
      <br />
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </form>
</div>

{% endif %} 
{% endblock %}
